.page {
  font-size: 16px;;
  display: flex;
  margin: 1em;
  gap: 1em;
}
.page > * {
  flex-grow: 1;
}
.job-editor {
  padding: 1em;
  color: #555;
  background: #eee;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.job-editor p {
  margin: 0;
}
.job-editor label {
  display: block;
  margin-bottom: .5em;
}
.job-editor input,
.job-editor textarea {
  padding: .5em;
}

.iframe-wrapper-container {
  border: #aaa solid 1px;
  padding: 1em;
}
.iframe-wrapper-container iframe {
  border: 0;
  width: 100%;
}
